{% extends "auctions/layout.html" %}

{% block body %}
    
    {% if catName %}
        <h1>Category: {{catName}}</h1>
    {% else %}
        <h1>Active Listings</h1>
    {% endif %}
    <div class="row">
        {% for listing in listings %}
            {% if listing.active %}
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    {% if  listing.imgLink %}
                        <img class="card-img-top" src="{{listing.imgLink}}">
                    {% endif %} 
                    <div class="card-body">
                        <h3 class="card-title">{{listing.title}} by <span style="color: red">{{listing.poster}}</span></h3>
                        <p class="card-text">{{listing.description}}</p>
                        <h4>${{listing.winningBid}}</h4>                   
                        <a href="/listing/{{listing.id}}/noAlert" class = "btn btn-primary">View listing</a>    
                    </div>
                </div> 
            </div> 
            {% endif %}              
        {% endfor %}
    </div>
{% endblock %}