{% extends "auctions/layout.html" %}

{% block body %}
    
    {% if catName %}
        <h1>{{catName}}</h1>
    {% else %}
        <h1>Active Listings</h1>
    {% endif %}
    <h2>{{listings}}</h2>
    {% for listing in listings %}
    <div>
        <h1>{{listing.title}} by {{listing.poster}}</h1>
        <h2>{{listing.description}}</h2>
        <h2>{{listing.initialPrice}}</h2>
        {% if  listing.imgLink %}
            <img src="{{listing.imgLink}}" style = "height: 100px; width: 100px">
        {% endif %}    
        <a href="/listing/{{listing.id}}">View listing</a>    
    </div>        
    {% endfor %}
{% endblock %}