{% extends "auctions/layout.html" %} 

{% block body %}
        
    {% if alert == "badBid"  %}
        <div class="alert alert-danger" role="alert">
            Bids must be higher than winning/initial bid :(
        </div>
    {% elif alert == "okBid" %}
        <div class="alert alert-success" role="alert">
            Your bid was placed!
        </div>
    {% elif alert == "okComment" %}
        <div class="alert alert-success" role="alert">
            You commented on this listing!
        </div>
    {% elif alert == "okWatchlist" %}
        <div class="alert alert-success" role="alert">
            This listing was added to your watchlist
        </div>    
    {% elif alert == "badWatchlist" %}
        <div class="alert alert-danger" role="alert">
            This listing was removed to your watchlist
        </div>
    {% endif %}
    {% if listing.active %}
        <div>
            {% if listing.imgLink %}
                <img src="{{listing.imgLink}}" height= "300px" width="auto" />
            {% endif %}
            <h3>Title: {{listing.title}} </h3>
            <h4>Seller: <span style="color: red;"> {{listing.poster}}</span></h4>
            <p>Description: {{listing.description}}</p>
            <h5>Initial Price: ${{listing.initialPrice}}</h5>
            <h5>Winning bid: ${{listing.winningBid}}</h5>
        </div>        
        <br />
        <h4>Comments:</h4>
        {% for comment in comments %}
            <h5>{{comment.author}} commented:</h5>
            <p>{{comment.message}}</p>
        {% endfor %} 
        {% if user.is_authenticated %}   
            {% if user.id == listing.poster.id %}
                <div>
                    <form action="/delete/{{listing.id}}">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                    <form action="/finalize/{{listing.id}}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-primary" type="submit">Finalize</button>
                    </form>
                </div>
            {% else %}
                <div>
                    <form action="/bid/{{listing.id}}" method="post" style="margin: 5px 0px">
                        {% csrf_token %}
                        <input type="number" name= "bidValue">
                        <input type="submit" value="Bid" />
                    </form>
                    <form action="/createComment/{{listing.id}}">
                        {% csrf_token %}
                        <button class="btn btn-primary" type="submit">Comment</button>
                    </form>
                    {% if listing.id in wlListingsIDs %}
                        <form action="/removeWatchlist/{{listing.id}}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit">RemoveWL</button>
                        </form>
                    {% else %}
                        <form action="/addWatchlist/{{listing.id}}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-warning" type="submit">Watchlist</button>
                        </form>
                    {% endif %}                    
                </div>
            {% endif %} 
        {% endif %} 
    {% elif user.id == winningBid.bidder.id %}
        <div class="alert alert-success" role="alert">
            <h1>You won this listing for {{listing.winningBid}}$</h1>
        </div>
    {% endif %}
    
    
{% endblock %}
