{% extends "auctions/layout.html" %} 

{% block body %}
    
    {% if alert == "badBid"  %}
        <div class="alert alert-danger" role="alert">
            Bids must be higher than current/initial bid :(
        </div>
    {% elif alert == "okBid" %}
        <div class="alert alert-success" role="alert">
            Your bid was placed!
        </div>
    {% endif %}
    {% if listing.active %}
        <div>
            {% if listing.imgLink %}
                <img src="{{listing.imgLink}}" style="height: 100px; width: 100px" />
            {% endif %}
            <h1>Title: {{listing.title}}</h2>
            <h2>By <span style="color: red;">{{listing.poster}}</span></h2>
            <h2>Description: {{listing.description}}</h2>
            <h2>Initial Price: {{listing.initialPrice}}</h2>
            <h2>Winning bid: {{listing.winningBid}}</h2>
        </div>
        
        <br />
        <h1>Comments:</h1>
        {% for comment in comments %}
            <h2>{{comment.author}} commented:</h2>
            <div>{{comment.message}}</div>
        {% endfor %} 
        {% if user.is_authenticated %}   
            {% if user.id == listing.poster.id %}
                <div>
                    <form action="/delete/{{listing.id}}">
                        {% csrf_token %}
                        <input type="submit" value="Delete" />
                    </form>
                    <form action="/finalize/{{listing.id}}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Finalize" />
                    </form>
                </div>
            {% else %}
                <div>
                    <form action="/bid/{{listing.id}}" method="post">
                        {% csrf_token %}
                        <input type="number" name= "bidValue">
                        <input type="submit" value="Bid" />
                    </form>
                    <form action="/createComment/{{listing.id}}">
                        {% csrf_token %}
                        <input type="submit" value="Comment" />
                    </form>
                    <form action="/addWatchlist/{{listing.id}}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Watchlist" />
                    </form>
                </div>
            {% endif %} 
        {% endif %} 
    {% elif user.id == winningBid.bidder.id %}
        <div class="alert alert-success" role="alert">
            <h1>You won this listing for {{listing.winningBid}}$</h1>
        </div>
    {% endif %}
    
    
{% endblock %}
